# Node build artifacts
node_modules
npm-debug.log

# Local development
.env.*
.DS_Store

# TypeScript
build

# Docker
#Dockerfile
#docker-compose.yml

# WebStorm
.idea

# Visual Studio Code
.vscode

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
